<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
   <title><%= title %></title>
   <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
  <head>
    <h1><%= title %></h1>
  </head>
  <div role="main">
    <table>
      <% for(var i in content) { %>
        <tr>
          <% var obj = content[i].attributes; %>
          <th><%= obj.id %></th>
          <th><%= obj.name %></th>
          <th><%= obj.mail %></th>
          <th><%= obj.age %></th>
        </tr>
      <% } %>
    </table>
  </div>
  <div>
    <span><a href="/hello/1">&lt;&lt; First</a></span>
    |
    <span><a href="/hello/<%= pagination.page - 1 %>">&lt;&lt; Prev</a></span>
    |
    <span><a href="/hello/<%= pagination.page + 1 %>">Next &gt;&gt;</a></span>
    |
    <span><a href="/hello/<%= pagination.pageCount %>">Last &gt;&gt;</a></span>
  </div>
</body>
</html>